@import 'modules/colors';
@import 'modules/fonts';

#tree-container {
  overflow-y: scroll;
}

.node {
  margin-left: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: $main-font;
  font-size: 12px;
  padding: 3px;
  box-sizing: border-box;
}

.node .tag {
  color: rgb(153, 69, 0);
}

.node i.fa {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  color: $show-children-color;
}
